@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #e0e0e0;
}

.container__header {
  height: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container__header h1 {
  margin: auto 0.4em;
  font-size: 1.5em;
  cursor: pointer;
}
.container__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  width: 100%;
}
@media screen and (min-width: 45em) {
  .container__search {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.container__themeChanger {
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0.4em auto auto;
  padding: 0.5em 0.7em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container__themeChanger .changeTheme {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
@media screen and (min-width: 45em) {
  .container__themeChanger {
    margin: auto 3em auto auto;
    padding: 0.5em 1.5em;
  }
}
@media screen and (min-width: 45em) {
  .container__header h1 {
    margin: auto 2em;
    font-size: 2em;
  }
}

.holder__image {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.holder__image svg {
  width: 1.5em;
}
.holder__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  width: 25em;
  max-width: 90%;
  margin: 0 1em;
  background-color: #fafafa;
}
.search__image {
  margin: auto 1em auto 0;
  height: 20px;
}
.search__input {
  border: 0;
  outline: none;
  width: 80%;
}
@media screen and (min-width: 45em) {
  .search {
    margin: auto 1em auto 5em;
  }
}

#filter {
  margin: 1em auto 0 1em;
  padding: 0.5em 1em;
  border-radius: 0.2em;
  border: none;
  outline: none;
  width: 11em;
  cursor: pointer;
}
@media screen and (min-width: 45em) {
  #filter {
    margin: auto 5em auto auto;
  }
}

.button__back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.6rem 1rem;
  margin: 1.5rem;
  width: 8rem;
  border-radius: 0.8rem;
  cursor: pointer;
}
.button__back svg {
  height: 20px;
}
.button__back * {
  margin: 0.4rem;
}

.card {
  justify-self: center;
  margin: 1em;
  border-radius: 0.5em;
  cursor: pointer;
  width: min(100% - 2rem, 20rem);
}
.card__grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
}
.card__image {
  height: 10rem;
  width: min(20rem, 100%);
}
.card__image img {
  border-radius: 0.5em 0.5em 0 0;
  height: 100%;
  width: 100%;
}
.card__text {
  padding: 0 1rem 1rem 1rem;
}
@media screen and (min-width: 45em) {
  .card__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 67em) {
  .card__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 90em) {
  .card__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.border__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.border__btn {
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin: 0.4rem 0.8rem;
  padding: 1rem;
  width: 15rem;
  border-radius: 0.8rem;
}
@media screen and (min-width: 45em) {
  .border__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.bolder {
  font-weight: 700;
}